.playlist__item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.playlist__track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.track__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 447px;
}

.track__titleImage {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 17px;
}

.track__titleSvg {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #4e4e4e;
}

.track__titleLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}

.track__titleSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4e4e4e;
    cursor: pointer;
}

.track__author {
    width: 321px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer;
}

.track__authorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.track__album {
    width: 245px;
}

.track__albumLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
    cursor: pointer;
}

.track__timeSvg {
    width: 16px;
    height: 14px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
    cursor: pointer;
}

.track__timeText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
}

.track__circle {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ad61ff;
    animation: pulse 0.6s ease-in-out infinite both;
}

.track__circleStatic {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ad61ff;
}

@keyframes pulse {
    0%,
    to {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}
