.centerblock {
    width: auto;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    padding: 20px 40px 20px 111px;
}

.centerblock__search {
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
    margin-bottom: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search__svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    stroke: #ffffff;
    fill: transparent;
}

.search__text {
    -webkit-box-flex: 100;
    -ms-flex-positive: 100;
    flex-grow: 100;
    background-color: transparent;
    border: none;
    padding: 13px 10px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.search__text::-webkit-input-placeholder {
    background-color: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.search__text:-ms-input-placeholder {
    background-color: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.search__text::-ms-input-placeholder {
    background-color: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.search__text::placeholder {
    background-color: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.centerblock__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin-bottom: 45px;
    color: #ffffff;
}

.centerblock__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 51px;
    gap: 10px;
}

.centerblock__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
    color: #ffffff;
}

.filter__button_wrapper {
    position: relative;
}

.filter__button {
    user-select: none;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.35s;
}

.filter__button:hover {
    border: 1px solid #b672ff;
    color: #b672ff;
}

.content__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 24px;
}

.content__playlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
}

.playlistTitle__col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
}

.playlistTitle__svg {
    width: 12px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.col01 {
    width: 447px;
}

.col02 {
    width: 321px;
}

.col03 {
    width: 245px;
}

.col04 {
    width: 60px;
    text-align: end;
}

.noResults {
    color: #696969;
    font-size: 24px;
    text-align: center;
}

.active {
    border: 1px solid #b672ff;
    color: #b672ff;
    position: relative;
}

.filter__list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #313131;
    padding: 34px;
    border-radius: 12px;
    height: max-content;
    max-height: 237px;
    min-width: 180px;
    width: max-content;
    max-width: 248px;
    z-index: 2;
}

.filter__list::-webkit-scrollbar {
    width: 4px;
}

.filter__list::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.filter__list::-webkit-scrollbar-track {
    background-color: #4b4949;
    margin: 10px;
}

.filter__list::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

.filter__box {
    color: white;
    display: flex;
    gap: 28px;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #4b4949;
    box-sizing: border-box;
    max-height: 170px;
    height: 100%;
}
