* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family:
        var(--font-montserrat), system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
input,
button {
    font-family:
        var(--font-montserrat), system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
