.nav {
    width: 244px;
    background-color: #181818;
    padding: 20px 0 20px 36px;
}

.nav__logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
}

.nav__menu {
    display: block;
    visibility: visible;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 1000;
}

.nav__menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.logo__image {
    width: 113.33px;
    height: 17px;
    color: #181818;
}

.menu__list {
    padding: 18px 0 10px 0;
}

.menu__item {
    padding: 5px 0;
    margin-bottom: 16px;
}

.menu__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.35s;
}

.menu__link:hover {
    color: #b672ff;
    text-decoration: underline;
}

.hamburger {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    position: relative;
    display: block;
    width: 68px;
    height: 68px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.burgerMain {
    position: absolute;
    padding: 20px 16px;
    height: 68px;
    width: 68px;
}

.burgerInner {
    position: relative;
    height: 28px;
    width: 36px;
}

.top,
.mid,
.bot {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: #fff;
}

.top {
    top: 0;
    transform-origin: 34px 2px;
}

.mid {
    top: 12px;
}

.bot {
    bottom: 0;
    transform-origin: 34px 2px;
}

.svgMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
}

.svgCircle {
    width: 68px;
    height: 68px;
}

.path {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    stroke-linejoin: round;
}

.hamburger.open .path {
    animation: dash-in 0.6s linear forwards;
}

.hamburger.closed .path {
    animation: dash-out 0.6s linear forwards;
}

.hamburger.open .top {
    animation: close-top-out 0.6s linear forwards;
}

.hamburger.open .bot {
    animation: close-bot-out 0.6s linear forwards;
}

.hamburger.closed .top {
    animation: close-top-in 0.6s linear forwards;
}

.hamburger.closed .bot {
    animation: close-bot-in 0.6s linear forwards;
}

.hamburger.open .mid {
    animation: burger-fill-out 0.6s linear forwards;
}

.hamburger.closed .mid {
    animation: burger-fill-in 0.6s linear;
}

.pathBurger {
    position: absolute;
    top: 0;
    left: 0;
    height: 68px;
    width: 68px;
    -webkit-mask: url(#mask);
    mask: url(#mask);
    -webkit-mask-box-image: url(http://dev.awsm.in/codepen/mask.svg);
}

.animatePath {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
}

.pathRotation {
    height: 34px;
    width: 34px;
    margin: 34px 34px 0 0;
    transform: rotate(0deg);
    transform-origin: 100% 0;
}

.pathRotation:before {
    content: "";
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: #fff;
}

.hamburger.open .animatePath {
    animation: circle-in 0.6s linear forwards;
}

.hamburger.closed .animatePath {
    animation: circle-out 0.6s linear forwards;
}

@keyframes dash-in {
    0% {
        stroke-dashoffset: 240;
    }
    40% {
        stroke-dashoffset: 240;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-out {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 240;
    }
    100% {
        stroke-dashoffset: 240;
    }
}

@keyframes close-top-out {
    0% {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    80% {
        left: -5px;
        transform: rotate(-60deg);
    }
    100% {
        left: -5px;
        top: 1px;
        transform: rotate(-45deg);
    }
}

@keyframes close-bot-out {
    0% {
        left: 0;
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    80% {
        left: -5px;
        transform: rotate(60deg);
    }
    100% {
        left: -5px;
        transform: rotate(45deg);
    }
}

@keyframes close-top-in {
    0% {
        left: -5px;
        transform: rotate(-45deg);
    }
    20% {
        transform: rotate(-60deg);
    }
    80% {
        left: 0;
        transform: rotate(15deg);
    }
    100% {
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes close-bot-in {
    0% {
        left: -5px;
        transform: rotate(45deg);
    }
    20% {
        transform: rotate(60deg);
    }
    80% {
        left: 0;
        transform: rotate(-15deg);
    }
    100% {
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes burger-fill-in {
    0% {
        width: 0;
        left: 36px;
    }
    40% {
        left: 40px;
    }
    80% {
        width: 36px;
        left: -6px;
    }
    100% {
        width: 36px;
        left: 0;
    }
}

@keyframes burger-fill-out {
    0% {
        width: 36px;
        left: 0;
    }
    20% {
        width: 42px;
        left: -6px;
    }
    40% {
        width: 0;
        left: 40px;
    }
    100% {
        width: 0;
        left: 36px;
    }
}

@keyframes circle-out {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circle-in {
    0% {
        transform: rotate(360deg);
    }
    40% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
